.site-header {
    background-color: #16164d;
    color: #b45959;
    border-radius: 100;
    height: 100vh;
    font-family: monospace;
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;

}

.site-header-content {
    margin: 10px;
    font-size: medium;
}
body{
    margin: 0;
    border-top: 0px;
}